.register{
    background: -webkit-linear-gradient(left, #006400, #FF0000);
    margin-top: 3%;
    padding: 3%;
    position: relative;
    top: -80px;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left input{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
    padding-bottom: 10px;
    width: 100%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #0062cc;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100%;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}

.header-hero
{
    height: 200px;
    background: url('../../images/library.jpg');
    background-size: cover;
    background-position: center;
}

.reminder {
    font-size: 14px;
    text-align: justify;
    text-indent: 50px;
}

.edit-style {
    width: 100%;
    padding: 0 0 20px 0;
}

.list-group-item {
    background-color: unset;
    font-size: 14px;
}

.subject-target .list-group-item {
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}

input {
    font-size: 13px !important;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 12px;
}
input::-moz-placeholder { /* Firefox 19+ */
  font-size: 12px;
}
input:-ms-input-placeholder { /* IE 10+ */
  font-size: 12px;
}
input:-moz-placeholder { /* Firefox 18- */
  font-size: 12px;
}

.selection {
  font-size: 12px !important;
   -webkit-appearance: none;
}

.table-condensed {
    font-size: 12px;
}

.upload-file {
    min-height: 150px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 20px 20px;
    width: 100%;
}

.upload-file input {
    cursor: pointer;
}

.file {
   position: relative;
   background: linear-gradient(to right, lightblue 50%, transparent 50%);
   background-size: 200% 100%;
   background-position: right bottom;
   transition:all 1s ease;
}
 .file.done {
   background: lightgreen;
}
 .file a {
   display: block;
   position: relative;
   padding: 5px;
   color: black;
}

.align-alert {
    width: 90%;
    position: relative;
    left: 8%;
    top: 30px;
    font-size: 13px;
}

.list-grades img,
.list-documents img,
.list-image img {
    width: 100%;
    padding: 10px;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

.parent img {
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.parent button {
    font-size: 12px;
}

.inline-select {
    width: 75%;
    display: inline-block;
}

.right-button {
    display: inline-block;
}

.right-button button {
    font-size: 12px;
}

.header-subject {
    color: #495057;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.subject-target li {
    font-size: 12px;
}

.sub-title {
    font-size: 12px;
    font-weight: 500;
    padding-top: 15px;
}

.hidden {
    display: none;
}

.date-picker-range {
    float: right;
    padding-top: 10px;
    padding-right: 10px;    
}
