.main-header .sidebar-toggle:before {
	content: unset;
}

.dropdown.user.user-menu a {
	background: #FFFFFF;
	border-color: #FFFFFF;
}

#body .wrapper, 
#body .main-sidebar, 
#body .left-side {
	background-color: #ffffff;
}

#body .user-panel > .info, #body .user-panel > .info > a {
	color: #333;
}

#body .sidebar-menu > li.header {
	color: #333;
    background: #ffffff;
    border-top: 3px solid #ecf0f5;
    border-bottom: 3px solid #ecf0f5;
    margin-bottom: 5px;
}

#body .sidebar-menu > li.active > a {
	color: #fff;
  background: #1e282c;
}

#body .sidebar-menu >li > a, #body .sidebar-menu > li.menu-open > a {
	color: #333;
    background: #FFFFFF;
}

#body .sidebar-menu > li > a {
	padding-left: 15px;
	transition: .5s;
}

#body .sidebar-menu > li.active > a {
	border-left-color: transparent;
}

#body .sidebar-menu > li:hover > a {
	padding-left: 30px;
	transition: .5s;
    color: #fff;
    background: #1e282c;
}

#body .sidebar-menu > li.header {
	text-align: center;
}

#body .td-width {
	width: 5%;
  text-transform: capitalize;
}

#body .td-width.image {
	height: 50px;
}

li.nav-list span {
    padding-left: 5px;
}

.modal-title {
	display: inline-block;
}

textarea {
	resize: vertical;
	min-height: 100px;
}

.center {
	text-align: center;
}

.error-message {
	position: absolute;
    z-index: 2000;
    right: 0;
    bottom: 0;
}

#modal-app .form-group {
	margin-bottom: 5px;
}

#modal-app .form-group label {
	margin: 0;
	font-size: 12px;
}

#modal-app .box-body {
	padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	font-size: 12px;
    line-height: 23px;
    text-align: center;
}

.select2.select2-container.select2-container--default.select2-container--below.select2-container--focus,
.select2-selection.select2-selection--single,
.select2-dropdown.select2-dropdown--below,
.select2.select2-container.select2-container--default {
	width: 170px !important;
}

#body .box-body .btn-group button {
	padding: 4px 8px 4px 8px;
}

#body .box-body .btn-group i {
	font-size: 12px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

td.td-width.new {
    background: green;
    color: #fff;
}

/*td.td-width.follow_up {
    background: green;
    color: #fff;
}*/


/* Loader */

.loader {
  color: #1e282c;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  position:absolute;
  top: 35%;
  left: 55%;
  z-index: 1;
}

@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.skin-black .main-header>.logo {
  opacity: .5 !important;
}

.select2-selection__choice {
    color: #000 !important;
}

.table {
  font-size: small;
}

.box-title .inline-list {
  display: inline-block;
  width: 13%;
  border-radius: 4px;
  padding: 0 19px;
  font-size: 12px;
  height: 29px;
  cursor: pointer;
}

.box-title select.inline-list {
  border: 1px solid #aaa;
}

.total-count {
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  display: block;

}

.create-button {
  float: right;
  width: unset !important;
  padding: 0 !important;
}

.count-div
{
    padding-left: 16px;
    padding-top: 35px;
}

/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 9999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.panel-title a {
  display: block;
}

#summary div.panel-heading {
  padding: 5px 10px;
}

#summary div.panel-group {
  margin-bottom: 5px;
}

#summary h4.panel-title a {
  font-size: 14px;
}

#summary .panel-body {
  padding: 10px 5px 5px 5px;
}

#over-all-count {
  position: relative;
  left: 10px;
  top: 3px;
}

.in-complete {
  background: rgb(226, 68, 92);
}

.completed {
  background: rgb(0, 200, 117);
}

.red {
    color: red;
}

.clickable {
  cursor: pointer;
}