.main-logo {
	width: 100px;
	height: 100px;
}

.header-info {
    text-align: center;
}

p.conta-para-style.border-left.pl-4 {
    margin-bottom: 40px;
}

.empty-events {
    text-align: center;
    width: 100%;
    font-weight: 100;
    font-style: italic;
    font-size: 20px;
}

.three-cards {
    text-align: center;
    padding-bottom: 20px;
}

.three-cards .card {
  width: 22rem;
  display: inline-block;
}

.three-cards .card-img-top {
    padding: 5px;
}

.three-cards .card-title {
    text-align: left;
    color: #343a40;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.three-cards .card-text {
    text-align: justify;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

.campus-cards {
    text-align: center;
}

.campus-cards .card {
  width: 22rem;
  display: inline-block;
}

.campus-cards .card-img-top {
    padding: 5px;
}

.campus-cards .card-title {
    color: #343a40;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}

.campus-cards .card-text {
    text-align: justify;
    line-height: 20px;
    font-family: 'Open Sans', sans-serif;
}

.red {
    color: red;
}